<div class = "googleMap">
<agm-map
  [latitude]="defaultLatitude"
  [longitude]="defaultLongitude"
  [disableDefaultUI]="true"
  [zoomControl]="true"
  [mapTypeId]="mapType"
  [zoom]="8"
>
   <agm-marker
    *ngFor="let loc of savedLocations; let i = index"
    [latitude]="loc.geoCordinates[0]"
    [longitude]="loc.geoCordinates[1]"
    [agmFitBounds]="true"
  >
    <agm-info-window>
      <h3>{{ loc.name }}</h3>
      <div>
         <mat-slide-toggle
          [checked]= "loc.visited"
          labelPosition="before"
          (change)="toggleVisited(loc.locationId,loc.visited,i)">
        Visited
      </mat-slide-toggle>
      </div>
      <button mat-raised-button color="warn"(click)="deleteLocation(loc.locationId,i)">Delete</button>
    </agm-info-window>
  </agm-marker> 
</agm-map>
</div>

<table mat-table [dataSource]="savedLocations" striped="true">
 <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="visited">
    <th mat-header-cell *matHeaderCellDef> Visited </th>
    <td mat-cell *matCellDef="let element"> {{element.visited}} </td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['name','address','phone','visited']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name','address','phone','visited'];"></tr>
</table>


