<h1 mat-dialog-title>Registration Form</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Enter Email</mat-label>
    <input matInput [(ngModel)]="email">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Enter password</mat-label>
    <input matInput [(ngModel)]="password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial (click)="registerUser()">Register</button>
</div>
